/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	max-width: 700px;
	width: 100%;
	margin: auto;
	background: repeating-linear-gradient(
			to right,
			var(--bcg-main-color),
			var(--bcg-main-color) 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			var(--bcg-main-color),
			var(--bcg-main-color) 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			var(--bcg-secondary-color) 0.01%,
			var(--bcg-tertiary-color)
		);
	background-size: cover;
	background-attachment: fixed;
	font-family: var(--font-family-main);
	font-weight: 400;
}

.core {
	fill: transparent;
	transition: fill 0.3s linear 0.03s;
}

.main-body {
	fill: transparent;
	transition: fill 0.3s linear 0s;
}

.sparks {
	fill: transparent;
}

.contour {
	fill: var(--page-secondary-color);
	transition: fill 0.1s linear 0s;
}

.like-icon:hover .core {
	transition-delay: 0s;
	fill: var(--page-secondary-color);
}

.like-icon:hover .main-body {
	transition-delay: 0.05s;
	fill: var(--page-secondary-color);
}

.like-icon:active .core {
	transition-delay: 0s;
	fill: var(--heart-color);
}

.like-icon:active .main-body {
	transition-delay: 0.05s;
	fill: var(--heart-color);
}

.like-icon.is-liked .heart {
	animation: heart 0.3s ease-in 0.1s alternate;
	transform-origin: center;
}

.like-icon.is-liked .core {
	transition-delay: 0s;
	fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
	transition-delay: 0.05s;
	fill: var(--heart-color);
}

.like-icon.is-liked .contour {
	transition-delay: 0.06s;
	fill: var(--heart-color);
}

.like-icon.is-liked .sparks {
	animation: sparks 0.3s ease-in 0.3s alternate;
}

.logo {
	font-family: var(--font-family-secondary);
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	line-height: 65px;
	color: var(--page-secondary-color);
	text-decoration: none;
	text-transform: uppercase;
}

.main-title {
	margin: 17px 0 23px;
	font-family: var(--font-family-secondary);
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
	line-height: 23px;
	color: var(--page-secondary-color);
	text-transform: uppercase;
}

.button {
	position: relative;
	padding: 18.5px 0;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	width: 100%;
	background: var(--page-main-color);
	border: 2px solid var(--page-secondary-color);
	font-size: 14px;
	line-height: 12.6px;
	color: var(--page-secondary-color);
	transition: 0.3s;
	overflow: hidden;
	cursor: pointer;
}

.button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--page-secondary-color);
	transform: translateX(-100%);
	transition: 0.5s ease-in-out;
}

.button span {
	mix-blend-mode: difference;
	color: var(--like-button-color);
}

.button:hover:before {
	transform: translateX(0);
}

.button:focus {
	outline: none;
	box-shadow: 2px 2px var(--page-secondary-color);
}

.header {
	display: flex;
	justify-content: center;
	padding: 100px 0;
	text-align: center;
}

.header__content {
	width: 100%;
	padding: 136px 120px 25px;
	background-color: var(--page-main-color);
	border: 2px solid var(--page-secondary-color);
}

.header__theme-menu {
	display: flex;
	justify-content: center;
}

.theme-menu__list {
	padding-left: 17px;
	display: flex;
	text-align: left;
	flex-direction: column;
	gap: 8px;
}

.theme-menu__button {
	position: relative;
	padding: 0;
	padding-bottom: 3px;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	background: none;
	border: none;
	text-align: left;
	text-transform: uppercase;
	color: var(--page-secondary-color);
	transition: opacity 0.3s;
	cursor: pointer;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-14px, -50%);
	animation-name: arrow;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.theme-menu__button:after {
	position: absolute;
	content: '';
	width: 1px;
	left: 0;
	bottom: 0;
	display: block;
	height: 2px;
	background-color: transparent;
	transition: width 0.3s;
}

.theme-menu__button:focus {
	outline: none;
	opacity: 0.6;
}

.theme-menu__button:focus-visible:after {
	width: 100%;
	background-color: var(--page-secondary-color);
}

.theme-menu__button:hover {
	opacity: 0.6;
}

.theme-menu__button[disabled] {
	opacity: 0.6;
	pointer-events: none;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-list {
	display: flex;
	flex-direction: column;
	gap: 47px;
	max-width: 696px;
	width: 100%;
}

.content-list__item {
	border: 2px solid var(--page-secondary-color);
}

.filter-grayscale img {
	filter: grayscale(80%);
}

.filter-saturate img {
	filter: saturate(300%);
}

.filter-hue-rotate img {
	filter: hue-rotate(30deg);
}

.filter-invert img {
	filter: invert(100%) brightness(70%);
}

.filter-sepia img {
	filter: sepia(1);
}

.filter-blur img {
	filter: blur(20px);
}

.filter-contrast img {
	filter: hue-rotate(0.3turn) contrast(60%);
}

.card {
	background-color: var(--page-main-color);
}

.card__title {
	padding: 3px 10px;
	font-variation-settings: 'wght' var(--font-weight-title);
	font-size: 18px;
	line-height: 21.78px;
	color: var(--page-secondary-color);
}

.card__image {
	position: relative;
	overflow: hidden;
	border-top: 2px solid var(--page-secondary-color);
	border-bottom: 2px solid var(--page-secondary-color);
}

.card__image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card__label {
	position: absolute;
	top: 27px;
	right: 25px;
	mix-blend-mode: hard-light;
	opacity: 0.5;
	font-family: var(--font-family-secondary);
	font-size: 14px;
	line-height: 14px;
	color: var(--page-secondary-color);
	text-shadow: 1px var(--label-shadow-color);
	pointer-events: none;
}

@supports (
	(text-stroke: 1px var(--label-shadow-color)) or
		(-webkit-text-stroke: 1px var(--label-shadow-color))
) {
	.card__label {
		-webkit-text-stroke: 1px var(--label-shadow-color);
		text-stroke: 1px var(--label-shadow-color);
		text-shadow: none;
	}
}

.card__content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;
	padding: 31px 24px 25px;
}

.card__content-text {
	display: flex;
	flex-direction: column;
	font-variation-settings: 'wght' var(--font-weight-text);
	gap: 27px;
	font-size: 18px;
	line-height: 21px;
	color: var(--page-secondary-color);
}

.card__container-buttons {
	display: flex;
	justify-self: end;
	gap: 4px;
}

.card__icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: none;
	border: 2px solid transparent;
	transition: 0.3s;
	cursor: pointer;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	outline: none;
	border-color: var(--page-secondary-color);
}

.card__like-button {
	width: 130px;
	padding: 12.5px 0;
}

.save {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 47px 0 103px;
}

.save__button {
	display: flex;
	align-items: center;
	gap: 5px;
	width: auto;
	padding: 15px 20px;
}

.save__button span {
	padding-top: 5px;
}

.save__button-svg {
	width: 21px;
	height: 21px;
	color: var(--like-button-color);
	mix-blend-mode: difference;
}

.dialog {
	padding: 40px 30px;
	background: var(--page-main-color);
	border: 2px solid var(--page-secondary-color);
	color: var(--page-secondary-color);
}

.dialog__text-container {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.dialog__text {
	max-width: 234px;
	width: 100%;
	font-family: var(--font-family-secondary);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.dialog__svg {
	width: 39px;
	height: 39px;
	mix-blend-mode: normal;
}

.dialog__button {
	padding: 12.5px 0;
	text-transform: uppercase;
}

.dialog:not([open]) {
	display: none;
	opacity: 0;
	pointer-events: none;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 710px) {
	.page {
		width: 100%;
	}

	.header__content {
		padding: 136px 0 25px;
	}
}

@media (width <= 400px) {
	.header__content {
		padding: 112px 0 20px;
	}

	.main-title {
		margin: 8px 0 19px;
	}

	.theme-menu__list {
		padding-left: 21px;
	}

	.content-list {
		gap: 49px;
	}

	.card__label {
		top: 26px;
		right: 11px;
	}

	.card__content {
		padding: 26px 25px 25px;
	}

	.save {
		padding: 45px 0 103px;
	}

	.save__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 14px;
		padding: 18px 20px 15px;
	}

	.save__button span {
		padding: 0px;
	}

	.save__button-svg {
		scale: 1.3;
	}

	.dialog {
		padding: 40px;
	}

	.dialog__text-container {
		gap: 26px;
	}

	.dialog__svg {
		scale: 1.3;
	}
}
