/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
	--bcg-main-color: #d3d3d3;
	--bcg-secondary-color: #e7e7e7;
	--bcg-tertiary-color: #1a1a1a;
	--page-main-color: #fff;
	--page-secondary-color: #000;
	--label-shadow-color: #fff;
	--like-button-color: #fff;
	--font-weight-title: 700;
	--font-weight-text: 400;
}

:root.theme-dark {
	--bcg-main-color: #000;
	--bcg-secondary-color: #007f0c;
	--bcg-tertiary-color: #004306;
	--page-main-color: #000;
	--page-secondary-color: #00cc14;
	--label-shadow-color: #000;
	--like-button-color: #00cc14;
	--font-weight-title: 785;
	--font-weight-text: 465;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bcg-main-color: #000;
		--bcg-secondary-color: #007f0c;
		--bcg-tertiary-color: #004306;
		--page-main-color: #000;
		--page-secondary-color: #00cc14;
		--label-shadow-color: #000;
		--like-button-color: #00cc14;
		--font-weight-title: 785;
		--font-weight-text: 465;
	}
}
